QPushButton
{
	background-color: transparent;
	border: none;
	background-repeat: none;
	background: transparent;
	font-size: 23px;
	font-weight: bold;
	font-family: Comic Sans MS;
	color: rgb(211, 242, 254);
	text-align: left;
}
:hover{
	color: orange;
};
QPushButton
{
	background-color: transparent;
	border: none;
	background-repeat: none;
	background: transparent;
	font-size: 23px;
	font-weight: bold;
	font-family: Comic Sans MS;
	color: rgb(211, 242, 254);
	text-align: left;
}
:hover{
	color: orange;
};
QPushButton
{
	background-color: transparent;
	border: none;
	background-repeat: none;
	background: transparent;
	font-size: 23px;
	font-weight: bold;
	font-family: Comic Sans MS;
	color: rgb(211, 242, 254);
	text-align: left;
}
:hover{
	color: orange;
};
QPushButton
{
	background-color: transparent;
	border: none;
	background-repeat: none;
	background: transparent;
	font-size: 23px;
	font-weight: bold;
	font-family: Comic Sans MS;
	color: rgb(211, 242, 254);
	text-align: left;
}
:hover{
	color: orange;
};
QPushButton
{
	background-color: transparent;
	border: none;
	background-repeat: none;
	background: transparent;
	font-size: 23px;
	font-weight: bold;
	font-family: Comic Sans MS;
	color: rgb(211, 242, 254);
	text-align: left;
}
:hover{
	color: orange;
};
QPushButton
{
	background-color: transparent;
	border: none;
	background-repeat: none;
	background: transparent;
	font-size: 23px;
	font-weight: bold;
	font-family: Comic Sans MS;
	color: rgb(211, 242, 254);
	text-align: left;
}
:hover{
	color: orange;
};
QPushButton
{
	background-color: transparent;
	border: none;
	background-repeat: none;
	background: transparent;
	font-size: 23px;
	font-weight: bold;
	font-family: Comic Sans MS;
	color: rgb(211, 242, 254);
	text-align: left;
}
:hover{
	color: orange;
};
QPushButton
{
	background-color: transparent;
	border: none;
	background-repeat: none;
	background: transparent;
	font-size: 23px;
	font-weight: bold;
	font-family: Comic Sans MS;
	color: rgb(211, 242, 254);
	text-align: left;
}
:hover{
	color: orange;
};
QPushButton
{
	background-color: transparent;
	border: none;
	background-repeat: none;
	background: transparent;
	font-size: 23px;
	font-weight: bold;
	font-family: Comic Sans MS;
	color: rgb(211, 242, 254);
	text-align: left;
}
:hover{
	color: orange;
};
QPushButton
{
	background-color: transparent;
	border: none;
	background-repeat: none;
	background: transparent;
	font-size: 23px;
	font-weight: bold;
	font-family: Comic Sans MS;
	color: rgb(211, 242, 254);
	text-align: left;
}
:hover{
	color: orange;
};QPushButton
{
	background-color: transparent;
	border: none;
	background-repeat: none;
	background: transparent;
	font-size: 23px;
	font-weight: bold;
	font-family: Comic Sans MS;
	color: rgb(211, 242, 254);
	text-align: left;
}
:hover{
	color: orange;
};
QPushButton
{
	background-color: transparent;
	border: none;
	background-repeat: none;
	background: transparent;
	font-size: 23px;
	font-weight: bold;
	font-family: Comic Sans MS;
	color: rgb(211, 242, 254);
	text-align: left;
}
:hover{
	color: orange;
};
QPushButton
{
	background-color: transparent;
	border: none;
	background-repeat: none;
	background: transparent;
	font-size: 23px;
	font-weight: bold;
	font-family: Comic Sans MS;
	color: rgb(211, 242, 254);
	text-align: left;
}
:hover{
	color: orange;
};
QPushButton
{
	background-color: transparent;
	border: none;
	background-repeat: none;
	background: transparent;
	font-size: 23px;
	font-weight: bold;
	font-family: Comic Sans MS;
	color: rgb(211, 242, 254);
	text-align: left;
}
:hover{
	color: orange;
};
QPushButton
{
	background-color: transparent;
	border: none;
	background-repeat: none;
	background: transparent;
	font-size: 23px;
	font-weight: bold;
	font-family: Comic Sans MS;
	color: rgb(211, 242, 254);
	text-align: left;
}
:hover{
	color: orange;
};
QPushButton
{
	background-color: transparent;
	border: none;
	background-repeat: none;
	background: transparent;
	font-size: 23px;
	font-weight: bold;
	font-family: Comic Sans MS;
	color: rgb(211, 242, 254);
	text-align: left;
}
:hover{
	color: orange;
};QPushButton
{
	background-color: transparent;
	border: none;
	background-repeat: none;
	background: transparent;
	font-size: 23px;
	font-weight: bold;
	font-family: Comic Sans MS;
	color: rgb(211, 242, 254);
	text-align: left;
}
:hover{
	color: orange;
};
QPushButton
{
	background-color: transparent;
	border: none;
	background-repeat: none;
	background: transparent;
	font-size: 23px;
	font-weight: bold;
	font-family: Comic Sans MS;
	color: rgb(211, 242, 254);
	text-align: left;
}
:hover{
	color: orange;
};
